{% extends "../layout/_layout.html"%}
{% block css %}
<link rel="stylesheet" href="/static/css/personal/content.css"/>
{#<link rel="stylesheet" href="/static/css/personal/frame.css"/>#}
{% endblock %}
{% block content %}
<div class="WB_miniblog_fb">
{#页面中部整体div#}
    <div class="WB_frame">
{#        中部博主头像与个人介绍div#}
        <div class="WB_frame_a">
            <div class="PCD_header">
{#                头部#}
                <div class="shadow " layout-shell="false">
                    <div class="pf_photo" node-type="photo">
						<p class="photo_wrap">
                            <img src="http://tva3.sinaimg.cn/crop.0.0.501.501.180/006c5BE7jw8f2xk80n4fvj30dx0dx3zd.jpg" alt="大胃爱丽丝" class="photo">
						</p>
							<a suda-data="key=pc_apply_entry&amp;value=profile_icon_avatar  href=" http:="" verified.weibo.com="" verify"="" class="icon_bed"><em title="微博知名美食博主 微博签约自媒体" class="W_icon icon_pf_approve" suda-uatrack="key=profile_head&amp;value=vuser_guest"></em></a></div>
                    <div class="pf_username">
						<h1 class="username">大胃爱丽丝</h1>
                            <a href="javascript:void(0);" action-type="set" class="tlink" action-data="remark=" suda-uatrack="key=tblog_profile_v6&amp;value=remark" node-type="remarkname">(设置备注)</a>
																																<span class="icon_bed"><a><i class="W_icon icon_pf_female"></i></a></span>													<a title="微博会员" target="_blank" href="http://vip.weibo.com/personal?from=main" action-type="ignore_list" suda-uatrack="key=profile_head&amp;value=member_guest"><em class="W_icon icon_member4"></em></a>
						</div>
                    <div class="pf_intro" title="微博知名美食博主 微博签约自媒体">
						微博知名美食博主 </div>
                    <div class="pf_opt" diss-data="wforce=1&amp;refer_sort=profile&amp;refer_flag=profile_head">
							<div class="opt_box clearfix">
								<div class="btn_bed W_fl" node-type="focusLink" action-data="uid=5675449379&amp;fnick=大胃爱丽丝&amp;f=1&amp;refer_flag=1005050001_&amp;refer_lflag=0000020001_">
																<a href="javascript:void(0);" suda-data="key=tblog_attention_click&amp;value=5675449379" action-type="unFollow" class="W_btn_d btn_34px"><em class="W_ficon ficon_right S_ficon">Y</em>已关注<em class="W_ficon ficon_arrow_down_lite S_ficon">g</em></a>
																</div>
								<div class="btn_bed W_fl"><a href="javascript:;" action-type="webim.conversation" action-data="uid=5675449379&amp;nick=大胃爱丽丝" class="W_btn_d btn_34px" suda-uatrack="key=tblog_profile_v6&amp;value=private_letter">私信</a></div>
								<div class="btn_bed W_fl"><a href="javascript:;" node-type="more" class="W_btn_d W_btn_pf_menu btn_34px"><em class="W_ficon ficon_menu S_ficon">=</em></a></div>
							</div></div>
                </div>
            </div>
            <div id="Pl_Official_Nav__2" name="place" anchor="-50">
                <div class="PCD_tab S_bg2">
	                <div class="tab_wrap" style="width:60%">
		                <table class="tb_tab" cellpadding="0" cellspacing="0">
			                <tbody>
                            <tr>
							<td class="current">
					            <a bpfilter="page" href="/p/1005055675449379/home?from=page_100505&amp;mod=TAB#place" node-type="nav_link" suda-uatrack="key=tblog_profile_new&amp;value=tab_profile" class="tab_link" otherhref="http://weibo.com/u/5675449379?from=usercardnew&amp;refer_flag=0000020001_&amp;is_all=1">
						            <span class="S_txt1 t_link">她的主页</span>
						            <span class="ani_border"></span>
					            </a>
				            </td>
							<td>
					            <a bpfilter="page" href="/p/1005055675449379/photos?from=page_100505&amp;mod=TAB#place" node-type="nav_link" suda-uatrack="key=tblog_profile_new&amp;value=tab_photos" class="tab_link">
						        <span class="S_txt1 t_link">她的相册</span>
						        <span class="ani_border"></span>
					            </a>
				            </td>
						    </tr>
		                    </tbody>
                        </table>
	</div>
</div>
            </div>
        </div>

        <div id="plc_main">

            <div class="WB_frame_b">
                <div class="WB_cardwrap S_bg2">
                    关注
                    <div class="PCD_counter">
                        <div class="WB_innerwrap">
                            <table class='tb_counter' cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td class="S_line1">
                                            <a bpfilter="page_frame" class="t_link S_txt1" href="#">
                                                <strong class="W_f14">0</strong>
                                                <span class="S_txt2">关注</span>
                                            </a>
                                        </td>
                                        <td class="S_line1">
                                            <a bpfilter="page_frame" class="t_link S_txt1" href="#">
                                                <strong class="W_f14">0</strong>
                                                <span class="S_txt2">粉丝</span>
                                            </a>
                                        </td>
                                        <td class="S_line1">
                                            <a bpfilter="page_frame" class="t_link S_txt1" href="#">
                                                <strong class="W_f14">0</strong>
                                                <span class="S_txt2">微博</span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="Pl_Core_ThirdHtmlData__4" anchor="-50"></div>
                <div id="Pl_Third_Inline__5" anchor="-50"></div>
                <div id="Pl_Core_Ut2UserList__6" anchor="-50"></div>
                <div id="Pl_Core_P7MultiPicPlay__7" anchor="-50"></div>
                <div id="Pl_Core_UserInfo__8" anchor="-50"><div style="visibility: hidden;"></div>
{#                    position: relative;#}
                    <div style="z-index: 10; transform: translateZ(0px);  transition: margin-top 0.3s ease; will-change: margin-top, top; width: 300px;">
                        <div class="WB_cardwrap S_bg2" fixed-inbox="true" fixed-id="2">
    <!-- v6 card 通用标题 -->
                <div class="PCD_person_info">
                    <div class="verify_area W_tog_hover S_line2">
                    <p class="verify clearfix">
                        <span class="icon_bed W_fl"><a suda-data="key=pc_apply_entry&amp;value=profile_icon" target="_blank" href="http://verified.weibo.com/verify?from=profile" class="W_icon icon_verify_v"></a></span>
                        <span class="icon_group S_line1 W_fl"><a class="W_icon_level icon_level_c4" title="微博等级23" href="http://level.account.weibo.com/level/levelexplain?from=profile2" target="_black"><span>Lv.23</span></a><a target="_blank" href="http://huodong.weibo.com/travel2016?ref=icon " title="带着微博去旅行"><i class="W_icon icon_airball"></i></a>&nbsp;</span>
                    </p><p class="info"><span>微博知名美食博主 微博签约自媒体</span></p>
                    </div>

                    <div class="WB_innerwrap">
                        <div class="m_wrap">
                            <div class="detail">
                                <ul class="ul_detail">
                                    <li class="item S_line2 clearfix">
                                        <span class="item_ico W_fl">
                                            <em class="W_ficon ficon_cd_place S_ficon">2</em></span>
                                        <span class="item_text W_fl">上海</span>
                                    </li>
                                    <li class="item S_line2 clearfix">
                                        <span class="item_ico W_fl">
                                            <em class="W_ficon ficon_pinfo S_ficon">Ü</em>
                                        </span>
                                        <span class="item_text W_fl">简介：    						    						    							原ID：大胃少女爱丽丝    						    						</span>
                                    </li>
                                    <li class="item S_line2 clearfix">
                                        <span class="item_ico W_fl">
                                            <em class="W_ficon ficon_email S_ficon">ý</em>
                                        </span>
                                        <span class="item_text W_fl">elise@canbox.tv</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a class="WB_cardmore S_txt1 S_line1 clearfix" href="/p/1005055675449379/info?mod=pedit_more" bpfilter="page_frame" ontouchstart="">
                <span class="more_txt">查看更多&nbsp;<em class="W_ficon ficon_arrow_right S_ficon">a</em></span>
            </a>
                </div>
                        </div><div style="height:1px;margin-top:-1px;visibility:hidden;">
                                </div>
                                </div>
                            </div>
            </div>



            <div class="WB_frame_c">
                <div id="Pl_Official_ProfileFeedNav__24" anchor="-50">
                    <div style="visibility: hidden;"></div>
{#                    position: relative;#}
                    <div class=" " style="z-index: 10; transform: translateZ(0px);  transition: margin-top 0.3s ease; will-change: margin-top, top; width: 600px;">
{#                        position: relative;#}
                        <div class="WB_tab_a" node-type="feed_nav" fixed-item="true" style=" box-shadow: none;" fixed-id="5">
        <div class="tab_box tab_box_c S_bg1 clearfix">
            <ul class="tab W_fl">
                <li class="tab_li tab_li_first curr S_bg2" node-type="tab_all" action-type="search_type" action-data="profile_ftype=1&amp;is_all=1">
                    <a href="javascript:void(0);" suda-data="key=tblog_profile_new&amp;value=weibo_all" class="S_txt1 S_line1">全部</a>
                    <span class="ani_border"></span>
                </li>
                <li class="tab_li" node-type="tab_hot" action-type="search_type" action-data="profile_ftype=1&amp;is_hot=1" style="display:none">
                    <a href="javascript:void(0);" suda-uatrack="key=tblog_profile_v6&amp;value=topnav" class="S_txt1"><em class="W_ficon ficon_hot S_ficon">ì</em>热门</a>
                    <span class="ani_border"></span>
                </li>
                <li class="tab_li" node-type="tab_other" action-type="search_type">
                    <a href="javascript:void(0);" class="S_txt1">
                        <span class="txt" node-type="menutext">
                                                            更多                                                    </span>
                        <i class="W_ficon ficon_arrow_down W_f16 S_ficon" node-type="morebtn">c</i>
                    </a>
                    <span class="ani_border"></span>
                </li>
            </ul>
            <div class="fr_box W_fr" node-type="search_adv_rightbar">
                <div class="search_box W_fr" node-type="input_search">
                    <span class="WB_search_s">
                    <form method="get" action="" node-type="singleForm">
                        <input type="text" node-type="keyword" name="key_word" class="W_input" value="搜索她的微博" notice="搜索她的微博"><span class="pos"><a href="javascript:void(0);" action-type="search_key" title="搜索" class="W_ficon ficon_search S_ficon S_ficon_dis" suda-uatrack="key=tblog_profile_v6&amp;value=search" onclick="return false;">f</a><a href="javascript:void(0);" class="W_ficon ficon_arrow_down_lite S_ficon" suda-data="key=tblog_otherprofile_v4&amp;value=advanced_search" action-type="search_adv" action-data="type=0" title="高级搜索" onclick="return false;">g</a></span>
                    </form>
                    </span>
                </div>
            </div>
            <div class="layer_menu_list " style="position: absolute; top: 38px; left: 90px; z-index: 10001; display: none;" node-type="feed_nav_adv">
            <ul>
              <li action-type="search_type" filter-type-inlayer="ori" node-type="search_type" action-data="profile_ftype=1&amp;is_ori=1" suda-uatrack="key=tblog_profile_v6&amp;value=orig"><a href="javascript:void(0);">原创</a></li>
              <li action-type="search_type" filter-type-inlayer="pic" node-type="search_type" action-data="profile_ftype=1&amp;is_pic=1" suda-data="key=tblog_profile_new&amp;value=weibo_pic"><a href="javascript:void(0);">图片</a></li>
              <li action-type="search_type" filter-type-inlayer="video" node-type="search_type" action-data="profile_ftype=1&amp;is_video=1" suda-uatrack="key=tblog_profile_v6&amp;value=video"><a href="javascript:void(0);">视频</a></li>
              <li action-type="search_type" filter-type-inlayer="music" node-type="search_type" action-data="profile_ftype=1&amp;is_music=1" suda-uatrack="key=tblog_profile_v6&amp;value=music"><a href="javascript:void(0);">音乐</a></li>
              <li action-type="search_type" filter-type-inlayer="article" node-type="search_type" action-data="profile_ftype=1&amp;is_article=1" suda-uatrack="key=tblog_profile_v6&amp;value=article"><a href="javascript:void(0);">文章</a></li>
              <li action-type="search_type" filter-type-inlayer="tag" node-type="search_type" action-data="profile_ftype=1&amp;is_tag=1" suda-uatrack="key=tblog_profile_v6&amp;value=tag"><a href="javascript:void(0);">标签</a></li>
                          </ul>
            </div>
        </div>
    </div><div style="height:1px;margin-top:-1px;visibility:hidden;"></div></div>
    <div style="display:none;" class="WB_cardwrap S_bg2 feed_pop_search" node-type="search">
        <div class="WB_cardtitle_b S_line2">
            <div class="obj_name"><h2 class="main_title W_fb W_f14">高级搜索</h2></div>
            <div class="opt_box">
                <a href="javascript:void(0);" action-type="search_adv" action-data="type=1" class="W_ficon ficon_close S_ficon">X</a>
            </div>
        </div>
        <div class="WB_innerwrap">
            <div class="m_wrap">
            <div class="form_table_s">
                <form method="get" action="" node-type="searchForm">
                    <dl class="f_normal clearfix">
                    <dt class="f_tit">类　型：</dt>
                    <dd class="f_con">
                        <span class="f_ipt">
                            <label for="is_ori" class="W_label"><input name="is_ori" type="checkbox" value="1" id="is_ori" checked="checked" class="W_checkbox" suda-data="key=tblog_otherprofile_page&amp;value=check_original"><span>原创</span></label>
                            <label for="is_forward" class="W_label"><input name="is_forward" type="checkbox" value="1" id="is_ori" checked="checked" class="W_checkbox" suda-data="key=tblog_otherprofile_page&amp;value=check_transfer"><span>转发</span></label>
                            <label for="is_text" class="W_label"><input name="is_text" type="checkbox" value="1" id="is_text" checked="checked" class="W_checkbox" suda-data="key=tblog_otherprofile_page&amp;value=check_text"><span>纯文字</span></label>
                            <label for="is_pic" class="W_label"><input name="is_pic" type="checkbox" value="1" id="is_pic" checked="checked" class="W_checkbox" suda-data="key=tblog_otherprofile_page&amp;value=check_picture"><span>含图片</span></label>
                            <label for="is_video" class="W_label"><input name="is_video" type="checkbox" value="1" id="is_video" checked="checked" class="W_checkbox" suda-data="key=tblog_otherprofile_page&amp;value=check_video"><span>含视频</span></label>
                            <label for="is_music" class="W_label"><input name="is_music" type="checkbox" value="1" id="is_music" checked="checked" class="W_checkbox" suda-data="key=tblog_otherprofile_page&amp;value=check_music"><span>含音乐</span></label>
                            <label for="is_article" class="W_label"><input name="is_article" type="checkbox" value="1" id="is_article" checked="checked" class="W_checkbox" suda-data="key=zhuzhan_advance_search&amp;value=profile_article"><span>含文章</span></label>
                        </span>
                    </dd>
                    </dl>
                    <dl class="f_normal clearfix">
                        <dt class="f_tit">关键字：</dt>
                        <dd class="f_con"><span class="f_ipt"><input type="text" node-type="keyword" class="W_input w1" value="搜她的微博" id="key_word" notice="搜她的微博" name="key_word"></span></dd>
                    </dl>
                    <dl class="f_normal clearfix">
                        <dt class="f_tit">时　间：</dt>
                        <dd class="f_con"><span class="f_ipt"><input type="text" action-type="search_date" action-data="type=1" value="" class="W_input w2" id="start_time" def="点击选择日期" name="start_time" readonly="true"><i class="t1">到</i><input type="text" class="W_input w2" action-type="search_date" action-data="type=2" value="2016-09-23" def="点击选择日期" id="end_time" name="end_time" readonly="true"></span></dd>
                    </dl>
                    <dl class="f_btn">
                        <dd class="f_con"><a href="javascript:void(0);" class="W_btn_a" action-type="search_button" onclick="return false;" suda-uatrack="key=tblog_profile_v6&amp;value=senior_search">搜索</a></dd>
                    </dl>
                </form>
            </div>
            </div>
        </div>
    </div>
    <div style="display:none;" class="WB_cardwrap WB_result S_bg1" node-type="search_ranks">
        <span class="tab_s">
            <a action-type="search_rank" node-type="search_rank" action-data="rank=1" class="S_txt1 " href="javascript:void(0);">公开</a>
            <a action-type="search_rank" node-type="search_rank" action-data="rank=2" class="S_txt1 " href="javascript:void(0);">私密</a>
            <a action-type="search_rank" node-type="search_rank" action-data="rank=4" class="S_txt1 " href="javascript:void(0);">定向分组</a>
        </span>
    </div>
    <div style="display:none;" node-type="feed_tag_list" class="WB_cardwrap S_bg2 feed_pop_tag"></div>

</div>

            </div>
        </div>
    </div>
</div>


{% endblock %}










